:root {
  --color-1: rgb(206, 221, 221);
  --color-2: rgb(29, 173, 184);
  --color-3: rgb(19, 18, 18);

}

body {
  background-color: var(--color-3);
}


/* Applies to "Time" section of nav bar */
.timer {
  position: absolute;
  top: 30px;
  right: 20px;
  padding-right: 20px;
}
.highscores {
  padding-left: 20px;
}

/* Applies to Nav bar items */
.Navigation-Bar {
  display: block;
  background-color: var(--color-2);
  width: 100%;
  height: 30px;
  font-size: 1.4em;
  color: var(--color-3);
  padding: 20px;


}

/* Applies to "Coding Quiz Challenge" - "Start Quiz" Button */
 .coding-quiz-intro {
display: flex;
flex-direction: column;
align-items: center;
flex-wrap: wrap;
color: var(--color-2);
padding: 100px;
 }

 
 button {
   width: 200px;
   height: 45px;
   color: black;
   background: linear-gradient(to bottom, var(--color-1), var(--color-2));
  }
  button:hover {
    background: linear-gradient(to bottom, var(--color-2), var(--color-1));
  }
  footer {
   background-color: var(--color-2);
   position: fixed;
   bottom: 0;
   width: 100%;
   align-items: center;
   padding: 20px;
   margin-top: 300px;
  }